<section id="schedule" class="schedule section">
    <div class="row text-center">

        <h2 class="title text-center"><img src="images/icons/schedule.png" /><br/> SCHEDULE</h2>

        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs nav-justified responsive">
                    {%- for day in schedule -%}
                    <li class="col-md-4 {% if loop.index == 1 %}active{% endif %}">
                        <a href="#{{ day.id }}" data-toggle="tab">
                            <h4 class="date"><i class="fa fa-rocket"></i>&nbsp;&nbsp;{{ day.date }}</h4>
                        </a>
                    </li>
                    {%- endfor -%}
                </ul>
                <div class="tab-content responsive">
                    {% for day in schedule %}
                    <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="{{ day.id }}">
                        <p>{{ day.description }}</p>
                        <div class="table-responsive text-left">
                            <div class="col-md-10 col-md-offset-1 custyle">
                                <table id="tableDiv" class="table custab">
                                    <thead>
                                        <tr>
                                            <th style="width:20%;" class="text-center pyred">TIME</th>
                                            <th style="width:65%;" class="text-center pyred">TITLE</th>
                                            <th style="width:15%;" class="text-center pyred">LOCATION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for event in day.events %}
                                        <tr>
                                            <td class="pyred">{{ event.time }}</td>
                                            <td><center>
                                            {%- if event.link -%}
                                                <strong><a href="{{ event.link }}?ref=schedule" target="_blank" title="{{ event.title }}">{{ event.title }}</a></strong><br><em>By {{ event.speaker }}</em>
                                            {%- else -%}
                                                <strong>{{ event.title }}</strong>
                                            {%- endif -%}
                                            </center></td>
                                            <td><center>{{ event.location }}</center></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row text-center">
                    <span class="note"><small><sup>*</sup>Note: These schedules are tentative and are subjected to change as per speakers availability and/or other reasons.</span></small>
                </div>
            </div>
        </div>
    </div>
</section>
