<!-- ******schedule****** -->
<section id="schedule" class="schedule section">
    <div class="row text-center">
         <h2 class="title text-center">
            <img src="images/icons/schedule.png" /><br/> SCHEDULE
        </h2>
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs nav-justified responsive">
                    <li class="col-md-4 active">
                        <a href="#tab_default_1" data-toggle="tab">
                            <h4 class="date">
                                <i class="fa fa-rocket"></i>&nbsp;&nbsp;23 September 2016, Friday
                            </h4>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="#tab_default_2" data-toggle="tab">
                            <h4 class="date">
                                <i class="fa fa-microphone"></i>&nbsp;&nbsp;24 September 2016, Saturday
                            </h4>
                        </a>
                    </li>
                    <li class="col-md-4">
                        <a href="#tab_default_3" data-toggle="tab">
                            <h4 class="date">
                                <i class="fa fa-microphone"></i>&nbsp;&nbsp;25 September 2016, Sunday
                            </h4>
                        </a>
                    </li>
                </ul>
                <div class="tab-content responsive">
                    <div class="tab-pane active" id="tab_default_1">
                        <h6>
                            Workshops are two and a half hour long hands-on sessions. Each workshop is limited to 25 participants and a <br/>separate ticket is required to attend each workshop.
                        </h6>
                        <div class="table-responsive text-left">
                            <div class="col-md-10 col-md-offset-1 custyle">
                                <table id="tableDiv" class="table custab">
                                    <thead>
                                        <tr>
                                            <th style="width:13%;" class="text-center pyred">TIME</th>
                                            <th style="width:50%;" class="text-center pyred">TITLE</th>
                                            <th style="width:20%;" class="text-center pyred">SPEAKER</th>
                                            <th style="width:18%;" class="text-center pyred">LOCATION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pyred">TBA</td>
                                            <td><center>TBA</center></td>
                                            <td><center>TBA</center></td>
                                            <td><center>TBA</center></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_default_2">
                        <h6>
                            See what's going on in the Python world, meet your fellow Pythonistas, share your knowledge and experience, <br/>make contacts, brainstorm projects, discuss prospects.
                        </h6>
                        <div class="table-responsive text-left">
                            <div class="col-md-10 col-md-offset-1 custyle">
                                     <table id="tableDiv" class="table custab">
                                    <thead>
                                        <tr>
                                            <th style="width:13%;" class="text-center pyred">TIME</th>
                                            <th style="width:50%;" class="text-center pyred">TITLE</th>
                                            <th style="width:20%;" class="text-center pyred">SPEAKER</th>
                                            <th style="width:18%;" class="text-center pyred">LOCATION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pyred">TBA</td>
                                            <td><center>TBA</center></td>
                                            <td><center>TBA</center></td>
                                            <td><center>TBA</center></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_default_3">
                        <h6>
                            Workshops are two and a half hour long hands-on sessions. Each workshop is limited to 25 participants <br/>and a separate ticket is required to attend each workshop.
                        </h6>
                        <div class="table-responsive text-left">
                            <div class="col-md-10 col-md-offset-1 custyle">
                                      <table id="tableDiv" class="table custab">
                                    <thead>
                                       <tr>
                                            <th style="width:13%;" class="text-center pyred">TIME</th>
                                            <th style="width:50%;" class="text-center pyred">TITLE</th>
                                            <th style="width:20%;" class="text-center pyred">SPEAKER</th>
                                            <th style="width:18%;" class="text-center pyred">LOCATION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pyred">TBA</td>
                                            <td><center>TBA</center></td>
                                            <td><center>TBA</center></td>
                                            <td><center>TBA</center></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--//schedule-->
