<!-- ******speakers****** -->
<section id="speakers" class="speakers section">
    <div class="row text-center">
        <h2 class="title text-center">
            <img src="images/icons/team.png" /><br/> SPEAKERS
        </h2>
        <div class="col-md-8 col-md-offset-2">
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="pybox">
                    <div class="icon-holder text-center">
                        <center>
                            <img src="images/keynote.jpeg" class="img-responsive"/>
                        </center>
                    </div>
                    <div class="content">
                        <h4>TBA</h4>
                        <a href="#">
                            <i class="social fa fa-github-square fa-2x social-fb"></i>
                        </a>
                        <a href="#">
                            <i class="social fa fa-twitter-square fa-2x social-tw"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="pybox">
                    <div class="icon-holder text-center">
                        <center>
                            <img src="images/keynote.jpeg" class="img-responsive"/>
                        </center>
                    </div>
                    <div class="content">
                        <h4>TBA</h4>
                        <a href="#">
                            <i class="social fa fa-github-square fa-2x social-fb"></i>
                        </a>
                        <a href="#">
                            <i class="social fa fa-twitter-square fa-2x social-tw"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//speakers-->
