{% macro speaker_box(name, photo, bio, github, twitter) %}
    <div class="item col-md-4 col-sm-6 col-xs-12 speaker-box">
        <div class="pybox speaker">
            <figure class="icon-holder text-center speaker--photo">
                <img src="{{ photo }}" class="img-responsive" style='border-radius: 10px; border: 2px solid #771616' />
            </figure>
            <div class="content">
              <h3 class='speaker--name'>{{ name }}</h3>
              <p class='speaker--bio'>{{ bio }}</p>
              <a class='speaker--social-icon' target="_blank" href="{{ github }}">
                <i class="social fa fa-github-square fa-2x social-fb"></i>
              </a>
              <a class='speaker--social-icon' target="_blank" href="{{ twitter }}">
                    <i class="social fa fa-twitter-square fa-2x social-tw"></i>
                </a>
            </div>
        </div>
    </div>
{% endmacro %}

<section id="speakers" class="speakers section">
    <div class="row text-center">
        <h2 class="title text-center">
            <img src="images/icons/team.png" /><br/> KEYNOTE SPEAKERS
        </h2>

        <div class="col-md-12">
            {{ speaker_box(name='Baishampayan Ghose',
                           photo='images/speakers/baishampayan.jpg',
                           bio='Baishampayan "BG" Ghose is <strong>CTO/Co-founder at Helpshift, Inc</strong>. BG is a
                                career functional programmer with exposure to a wide variety of
                                programming languages and paradigms. His areas of interests are
                                Semantics of Programming Languages, Distributed Systems, Software
                                Design and the intersection of Software, Culture and Society.',
                           github='https://github.com/ghoseb',
                           twitter='https://twitter.com/ghoseb') }}

            {{ speaker_box(name='Andreas Mueller',
                           photo='images/speakers/andreas.jpg',
                           bio='Andreas is <strong>a Research Engineer at the NYU Center for Data Science</strong>,
                                building open source software for data science. Previously he was
                                a Machine Learning Scientist at Amazon, working on computer vision
                                and forecasting problems. He is one of the core developers of the
                                scikit-learn machine learning library, and he has been co-maintaining
                                it for several years.',
                           github='https://github.com/amueller',
                           twitter='https://twitter.com/amuellerml') }}

            {{ speaker_box(name='Van Lindberg',
                           photo='images/speakers/vanl.jpg',
                           bio="Van Lindberg is <strong>an engineer, IP and open source lawyer, and part-time natural language hacker</strong>. He is a director, general counsel, and past chair of the PSF, a director of the OpenStack Foundation, and Vice President and Associate General Counsel for Rackspace. Lindberg wrote the 'Intellectual Property and Open Source', and was named one of 'America's Top 12 Techiest Attorneys'.",
                           github='https://github.com/vanl',
                           twitter='https://twitter.com/VanL') }}

        </div>
    </div>
</section>
