<!-- ******sponsors****** -->
<section id="sponsors" class="sponsors section">
    <div class="row text-center">
         <h2 class="title text-center">
            <img src="images/icons/sponsors.png" /><br/> SPONSORS
        </h2>
        <div class="col-md-12">
            <h3 class="date text-center">Platinum</h3>
            <br/>
            <div class="col-md-4">
                <div class="pybox">
                    <a href="#">
                        <center>
                            <img class="img-responsive" src="images/spon.png" />
                        </center>
                    </a>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pybox">
                    <a href="#">
                        <center>
                            <img class="img-responsive" src="images/spon.png" />
                        </center>
                    </a>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pybox">
                    <a href="#">
                        <center>
                            <img class="img-responsive" src="images/spon.png" />
                        </center>
                    </a>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h3 class="date text-center">Gold</h3>
            <br/>
            <div class="col-md-6">
                <div class="pybox">
                    <a href="#">
                        <center>
                            <img class="img-responsive" src="images/spon.png" />
                        </center>
                    </a>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pybox">
                    <a href="#">
                        <center>
                            <img class="img-responsive" src="images/spon.png" />
                        </center>
                    </a>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h3 class="date text-center">Silver</h3>
            <br/>
            <div class="col-md-6">
                <div class="pybox">
                    <a href="#">
                        <center>
                            <img class="img-responsive" src="images/ZeOmega-Logo.png" />
                        </center>
                    </a>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pybox">
                    <a href="#">
                        <center>
                            <img class="img-responsive" src="images/spon.png" />
                        </center>
                    </a>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h3 class="date text-center">Accomodation</h3>
            <br/>
            <div class="col-md-6">
                <div class="pybox">
                    <a href="#">
                        <center>
                            <img class="img-responsive" src="images/spon.png" />
                        </center>
                    </a>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pybox">
                    <a href="#">
                        <center>
                            <img class="img-responsive" src="images/spon.png" />
                        </center>
                    </a>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//sponsors-->
