<!-- ******venue****** -->
<section id="venue" class="venue section">
    <div class="row text-center">
         <h2 class="title text-center">
             <br/><img src="images/icons/venue.png" /><br/>VENUE
        </h2>
        <div class="col-md-6 col-md-offset-3">
            <div class="pybox">
                <center>
                    <img src="images/venue-jnu.png" class="img-responsive"/>
                </center>
                <div class="content text-center">
                    <h3 style="text-align:center;">
                        <a href="#">
                            Convention Centre
                        </a>
                    </h3>
                    <span class="help-block">
                        Jawahar Lal Nehru University,
                        <br/>
                        New Mehrauli Road, Near Munirka,
                        <br/>
                        New Delhi - 110067
                        <br/>
                    </span>
                    <!--a href="#" target="_blank" class="btn btn-pycon">
                        <i class="fa fa-location-arrow"></i> Find Directions
                    </a-->
                    <!--a href="#" target="_blank" class="btn btn-pycon">
                        <i class="fa fa-cab"></i> Book a Cab
                    </a-->
                    <!--a href="#" target="_blank" class="btn btn-pycon">
                        <i class="fa fa-building"></i> Book Hotel
                    </a-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--//venue-->
