<footer class="visible-xs">
    <div class="footer col-md-12">
        <p class="col-md-4 text-center"> Copyright &copy; 2016 <a href="https://pssi.org.in/pyconindia/">Python Software Society of India.</a> </p>
        <p class="col-md-4 text-center" id="footer-links">
            <a href="https://webchat.freenode.net/?channels=%23pyconindia" target="_blank">IRC</a> |
            <a href="https://mail.python.org/mailman/listinfo/inpycon" target="_blank">Mailing List</a> |
            <a href="https://twitter.com/search?q=pyconindia" target="_blank">#pyconindia</a> |
            <a href="https://www.facebook.com/PyConIndia" target="_blank">Facebook</a>
        </p>
    </div>
</footer>
