{% extends "_base.jinja" %}

{% block content %}
    <!-- ******others****** -->
    <section id="faq" class="others section">
        <div class="row text-center">
            <div class="col-md-12 sponsorship">
                <div class="col-md-8 col-md-offset-2">

                     <h2 class="title text-center">
                <img src="images/icons/faq.png" /><br/> FAQ
            </h2>
                </div>
                <div class="col-md-10 col-md-offset-1 text-justify">
                    <br/>
                   <!--  <br/>
                    <h2 class="text-center">FAQ: Frequently Asked Questions</h2>
                    <br/> -->
                    <p>
                        <span><b>Q. I want to present a talk/workshop at the conference. What should I do?</b><br></span>
                        <span>A. You can submit the proposal for your talk/workshop <a href='http://in.pycon.org/cfp/2016/proposals/' target="blank">here.</a></span>
                    </p>
                    <br/>
                    <p>
                        <span><b>Q. How do I upload presentations to the site?</b><br></span>
                        <span>A. We don't support presentation uploads yet. Please upload your presentation to a public site such as SlideShare or Google Docs and use that link in your talk's description.</span>
                    </p>
                    <br/>
                    <p>
                        <span><b> Q. I want to volunteer for the conference. What should I do?</b><br></span>
                        <span>A. Please share your details by filling <a href='http://goo.gl/forms/slqxyXbst3' target="blank">this</a> form and the team will soon get back to you with responsibilities according to the domains you choose.</span>
                    </p>
                    <br/>
                    <p>
                        <span><b> Q. I am a speaker/volunteer at the conference. Do I need to buy a ticket?</b><br></span>
                        <span>A. Yes. At PyCon India, everybody buys tickets. Even the event organizers buy tickets. Your ticket helps keep the event affordable for all.</span>
                    </p>
                    <br/>
                    <p>
                        <span><b> Q. Will the Internet and WiFi setup be good enough for a large crowd? Should I get a datacard?</b><br></span>
                        <span>A. We try really hard to arrange good Internet at the venue. Most of the times it is adequate. But the unpredictable amount of usage during the event sometimes causes some problems. So it is fine if you don’t carry a data card, but there is no harm in being prepared for the worst.</span>
                    </p>
                    <br/>
                    <p>
                        <span><b> Q. What are the workshop and conference timings?</b><br></span>
                        <span>A. - Workshop day (Sep 23rd): 08:00 AM - 06:30 PM.<br/></span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Conference days (Sep 24th and 25th): 08:00 AM - 5.30 PM.</span>
                    </p>
                    <br/>
                    <p>
                        <span><b> Q. What all does the Conference ticket (September 24 &amp; 25) include? </b><br></span>
                        <span>A. - Full conference pass for two days. <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Breakfast, Lunch and Hi-Tea.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- PyCon India T-shirt which will be distributed on Sep 25.</span>
                    </p>
                    <br/>
                    <p>
                        <span><b> Q. My talk is not selected for conference, can I opt for OpenSpace? </b><br></span>
                        <span>A. Yes. You can submit an OpenSpace proposal once we start accepting the same. Keep following to further updates</a></span>
                    </p>
                    <br/>
                    <p>
                        <span><b> Q. What is the screening process of OpenSpace talk? </b><br></span>
                        <span>A. There is no screening process.<br></span>
                        <span> We are trying to be better organized upfront by knowing the number of OpenSpace talks. This will help the organizing team plan to get all logistics required.</span>
                    </p>
                    <br/>
                    <p>
                        <span><b>Q. Where can I stay while in Delhi for the conference?</b><br></span>
                        <span>A. There is a vibrant <a href="https://www.facebook.com/groups/ncrpython" target="blank">Python community</a> in Delhi with whom one can share rooms. Else, you can also look for budget hotels around the <a href="https://www.google.co.in/maps/place/Siri+Fort+Auditorium/@28.5531891,77.2107698,17z/data=!3m1!4b1!4m2!3m1!1s0x390ce214b9b5cb45:0x4ce16a50567e0747" target="blank">Siri Fort Auditorium</a>.</span>
                    </p>
                    <br/>
                    <p>
                        <span><b>Q. How can I travel to the conference venue?</b><br></span>
                        <span>A. You can easily reach the conference by taking a cab to the <a href="https://www.google.co.in/maps/place/Siri+Fort+Auditorium/@28.5531891,77.2107698,17z/data=!3m1!4b1!4m2!3m1!1s0x390ce214b9b5cb45:0x4ce16a50567e0747" target="blank">Siri Fort Auditorium</a>. The venue also has good public transport connectivity:<br/>- Green Park Metro Station - 2.2 Km<br/>- Sarai Kale Khan ISBT - 7 Km<br/>- Hazrat Nizammudin Railway Station - 7.3 Km</span>
                    </p>
                    <br/>
                    <p>
                        <span><b>Q. I need to cancel my ticket due to unavoidable cicumstances. What is the refund policy?</b><br></span>
                        <span>A. We allow tickets to be cancelled, but cancellation might be barred in the last few days leading up to the conference. This space will be updated if cancellation is barred at any time.</span>
                    </p>
                    <br/>
                    <p>
                        <span><b>Q. My question is not listed here / I am still unclear about a few things. Whom should I contact?</b><br></span>
                        <span>A. Please send an email to contact@in.pycon.org.</span>
                    </p>
                    <br/>
                </div>
            </div>
        </div>
    </section>
    <!--//others-->
{% endblock %}
