{% extends "_base.jinja" %}

{% block content %}
<!-- ******others****** -->
<section id="others" class="others section">
    <div class="row">
        <div class="col-md-12 sponsorship">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="title text-center">
                <img src="images/icons/sship.png" /><br/> SPONSORSHIP
        </h2>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <br/>
                <p>
                    PyCon India is the largest annual conference for the community using and developing the Python programming language in India. It attracts the best Python programmers across the country and abroad. PyCon India is a community conference, organized by volunteers. Formally it is run by the Python Software Society of India, which is a non-profit society under Indian law.
                </p>
                <br/>
                <h3>Sponsoring</h3>
                <p>
                    Your sponsorship keeps PyCon India affordable to the widest possible audience.
                </p>
                <p>
                    In order to ensure a successful conference, the community needs to address a wide range of logistical and organizational challenges. PyCon India attendees sometimes require assistance with expenses especially student attendees, and sponsorship enables us to support those who would otherwise be unable to attend.
                </p>
                <p>
                    The attendees of PyCon India will include professional developers from large enterprises and smaller firms as well as people from academia. Delegates come to present their latest developments. With Python already becoming a major enterprise programming language and platform, sponsoring PyCon India 2016 is an excellent opportunity to demonstrate industry leadership in this part of the world. The attendance of PyCon India 2016 is expected to be between 1200 and 1350 delegates.
                </p>
                <br/>
                <h5 id="sponsorship-download"><a href="sponsorship-prospectus.pdf">Download Sponsorship Prospectus</a></h5>
                <br>
            </div>
        </div>
    </div>
</section>
<!--//others-->
{% endblock %}
