{% extends "_base.jinja" %}

{% block content %}
<!-- ******others****** -->
<section id="others" class="others section teams">
    <div class="row text-center">
        <div class="col-md-12 sponsorship">
            <div class="col-md-8 col-md-offset-2">

                 <h2 class="title text-center">
            <img src="images/icons/team.png" /><br/> TEAM
        </h2>
            </div>
            <div class="col-md-10 col-md-offset-1 text-left">
                <br/>
                <p>PyCon India is run behind the scenes by many volunteers who invest a lot of time and effort into making the event a success. We dedicate this page to all those people who connect the dots together.</p>
                <br/>
                <ul>
                    <li>Aadarsh Singh</li>
                    <li>Akash Mishra</li>
                    <li>Akshay Arora</li>
                    <li>AMIT KUMAR</li>
                    <li>Anand M</li>
                    <li>Aniket Maithani</li>
                    <li>Ankur Gupta</li>
                    <li>Anuvrat Parashar</li>
                    <li>Arsh</li>
                    <li>Arshad Khan</li>
                    <li>Ashish Dahiya</li>
                    <li>Ashutosh Kumar Singh</li>
                    <li>Chaianya Kukde</li>
                    <li>Chandan Kumar</li>
                    <li>Deepak Bharti</li>
                    <li>Dhriti Shikhar</li>
                    <li>Dhruv Kumar</li>
                    <li>Farhaan Buksh</li>
                    <li>Ganesh Kadam</li>
                    <li>Girish Joshi</li>
                    <li>Gora Mohanty</li>
                    <li>Gourav Chawla</li>
                    <li>Hans Gogia</li>
                    <li>Haris Ibrahim K V</li>
                    <li>Harshul jain</li>
                    <li>Jaidev Deshpande</li>
                    <li>Janki Chattbar</li>
                    <li>Jaysinh Shukla</li>
                    <li>Jogender Kota</li>
                    <li>Kantesh Raj</li>
                    <li>Karambir Singh Nain</li>
                    <li>Krace Kumar Ramaraju</li>
                    <li>Kunal Kushwaha</li>
                    <li>Kushal Das</li>
                    <li>Mannu Gupta</li>
                    <li>Manoj Pandey</li>
                    <li>Mayank Jain</li>
                    <li>Mudit Sharma</li>
                    <li>Peeyush Aggarwal</li>
                    <li>Pradhvan Bisht</li>
                    <li>Priyal Trivedi</li>
                    <li>Priyank Trivedi</li>
                    <li>Pulkit Pahwa</li>
                    <li>Pushplata Ranjan</li>
                    <li>Rahul Bajaj</li>
                    <li>Rajat Goyal</li>
                    <li>Rishabh Singh</li>
                    <li>Rohit Goyal</li>
                    <li>Sahil Joseph</li>
                    <li>Sanyam Khurana</li>
                    <li>Satyaakam Goswami</li>
                    <li>Saurabh Kumar</li>
                    <li>Shashank Aryan</li>
                    <li>Amol Kahat</li>
                    <li>Shashank Kumar</li>
                    <li>Shiny Parashar</li>
                    <li>Shweta suman</li>
                    <li>Shyam Saini</li>
                    <li>Sreekanth S R</li>
                    <li>Suraj Deshmukh</li>
                    <li>Suraj Narwade</li>
                    <li>T K Sourabh</li>
                    <li>Vijay Bang</li>
                    <li>Vinay Dahiya</li>
                    <li>Vipin Kumar Rathi</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--//others-->
{% endblock content %}
